.DS_Store
*.class
*.jar
*.apk
*.ap_
bin/
Android/bin/classes.dex

Android/bin/classes/com/boothcomputing/arduinowatch/ArduinoWatchService.class

*.class

*.dex

*.dex

*.class

*.dex

Android/bin/classes.dex

Android/bin/classes/com/boothcomputing/arduinowatch/ArduinoWatchService.class

Android/bin/classes.dex

Android/bin/classes/com/boothcomputing/arduinowatch/ArduinoWatchService.class
